%html
	%head
		%title Cipher Vis
		%script{:type => 'text/javascript',
					:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
		%script{:type => 'text/javascript'} if (typeof jQuery == 'undefined') { document.write(unescape("%3script src='jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E")); }
		%script{:type => 'text/javascript', :src => 'underscore.js'}
		%script{:type => 'text/javascript', :src => 'util.js'}
		%script{:type => 'text/javascript', :src => 'des.js'}
		%script{:type => 'text/javascript', :src => 'cipher-vis.js'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Nobile|Ubuntu|Droid+Sans+Mono|Amaranth:700,400'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'cipher-vis.css'}

	%body
		#box
			%h1 Cipher Viz
			%h2 Block cipher visualizations
			%form
				.row
					%label#key-label{:for => 'key'} Key
					%input#key{:type => 'text', :value => ''}
				.row
					%label#plaintext-label{:for => 'plaintext'} Plaintext
					%input#plaintext{:type => 'text', :value => ''}
				.row
					%span#error
					#encipher
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
				.row
					%span#ciphertext-label Ciphertext
					%span#ciphertext
		%ol#display
			%li#binary
				.spacer
				Convert plaintext to binary
				%span.one
				%span.two
			%li#ip
				Initial permutation
				%span.one
				%span.two
			%li#subkeys
				%ol
					%li#pc1
						Permuted choice on key
						%span.one
						%span.two
					%li#split
						Split the key in half
						%span.one
						%span.two
					%li#shift1
						Left shift the key once
						%span.one
						%span.two
					%li#shift2
						Left shift the key once
						%span.one
						%span.two
					%li#shift3
						Left shift the key twice
						%span.one
						%span.two
					%li#shift4
						Left shift the key twice
						%span.one
						%span.two
					%li#shift5
						Left shift the key twice
						%span.one
						%span.two
					%li#shift6
						Left shift the key twice
						%span.one
						%span.two
					%li#shift7
						Left shift the key twice
						%span.one
						%span.two
					%li#shift8
						Left shift the key twice
						%span.one
						%span.two
					%li#shift9
						Left shift the key once
						%span.one
						%span.two
					%li#shift10
						Left shift the key twice
						%span.one
						%span.two
					%li#shift11
						Left shift the key twice
						%span.one
						%span.two
					%li#shift12
						Left shift the key twice
						%span.one
						%span.two
					%li#shift13
						Left shift the key twice
						%span.one
						%span.two
					%li#shift14
						Left shift the key twice
						%span.one
						%span.two
					%li#shift15
						Left shift the key twice
						%span.one
						%span.two
					%li#shift16
						Left shift the key once
						%span.one
						%span.two




