%html
	%head
		%title Cipher Vis
		%script{:type => 'text/javascript',
					:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
		%script{:type => 'text/javascript'} if (typeof jQuery == 'undefined') { document.write(unescape("%3script src='jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E")); }
		%script{:type => 'text/javascript', :src => 'underscore.js'}
		%script{:type => 'text/javascript', :src => 'util.js'}
		%script{:type => 'text/javascript', :src => 'des.js'}
		%script{:type => 'text/javascript', :src => 'cipher-vis.js'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Nobile|Ubuntu|Droid+Sans+Mono|Amaranth:700,400'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'cipher-vis.css'}

	%body
		#box
			%h1 Cipher Viz
			%h2 DES visualization
			%form
				.row
					%label#key-label{:for => 'key'} Key
					%input#key{:type => 'text', :value => ''}
				.row
					%label#plaintext-label{:for => 'plaintext'} Plaintext
					%input#plaintext{:type => 'text', :value => ''}
				.row
					%span#error
					#encipher
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
				.row
					%span#ciphertext-label Ciphertext
					%span#ciphertext
		%ol#display
			%li#binary
				.spacer
				.step Convert plaintext to binary
				.code_line
					%span.one
				.code_line
					%span.two
			%li#ip
				.spacer
				.step Initial permutation
				.code_line
					%span.one
				.code_line
					%span.two
			%li#subkeys
				.spacer
				.step Generate subkeys
				%ol#subkey-list
					%li#pc1
						.spacer
						.step Permuted choice on key
						.code_line
							%span.one
						.code_line
							%span.two
					%li#split
						.spacer
						.step Split permuted choice in half
						%span.one
						%span.two
						%span.pc2one
						%span.pc2two
					%li#shift1
						.spacer
						.step Left shift the key once
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift2
						.spacer
						.step Left shift the key once
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift3
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift4
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift5
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift6
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift7
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift8
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift9
						.spacer
						.step Left shift the key once
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift10
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift11
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift12
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift13
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift14
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift15
						.spacer
						.step Left shift the key twice
						.code_line
							%span.one
						.code_line
							%span.two
					%li#shift16
						.spacer
						.step Left shift the key once
						.code_line
							%span.one
						.code_line
							%span.two




