%html
	%head
		%title Cipher Vis
		%script{:type => 'text/javascript',
					:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
		%script{:type => 'text/javascript'} if (typeof jQuery == 'undefined') { document.write(unescape("%3script src='jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E")); }
		%script{:type => 'text/javascript', :src => 'underscore.js'}
		%script{:type => 'text/javascript', :src => 'util.js'}
		%script{:type => 'text/javascript', :src => 'des.js'}
		%script{:type => 'text/javascript', :src => 'cipher-vis.js'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Nobile|Ubuntu|Droid+Sans+Mono|Amaranth:700,400'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'cipher-vis.css'}

	%body
		#box
			%h1 Cipher Viz
			%h2 DES visualization
			%form
				.row
					%label#key-label{:for => 'key'} Key
					%input#key{:type => 'text', :value => ''}
				.row
					%label#plaintext-label{:for => 'plaintext'} Plaintext
					%input#plaintext{:type => 'text', :value => ''}
				.row
					%span#error
					#encipher
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
				.row
					%span#ciphertext-label Ciphertext
					%span#ciphertext

		%ol#display

			%li#binary
				.spacer
				.step Convert plaintext to binary
				.code_line
					%span.one
				.code_line
					%span.two

			%li#ip
				.spacer
				.step Initial permutation
				.code_line
					%span.one
				.code_line
					%span.two

			%li#subkeys
				.spacer
				.step Generate subkeys

				%ol#subkey-list{:type => "i"}

					%li#pc1
						.spacer
						.step Permuted choice (1) on key
						.code_line
							%span.one
						.code_line
							%span.two

					%li#split
						.spacer
						.step Split permuted choice in half
						.code_line
							%span.one
							%span.two
						.code_line
							%span.pone
							%span.ptwo

					%li#shifts
						.spacer
						.step Repeatedly shift by schedule
						#shift1.shift_container
							.code_line
								%span.shift 1
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift2.shift_container
							.code_line
								%span.shift 1
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift3.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift4.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift5.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift6.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift7.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift8.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift9.shift_container
							.code_line
								%span.shift 1
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift10.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift11.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift12.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift13.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift14.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift15.shift_container
							.code_line
								%span.shift 2
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo
						#shift16.shift_container
							.code_line
								%span.shift 1
								%span.one
								%span.two
							.code_line
								%span.pone
								%span.ptwo

					%li#pc2
						.spacer
						.step Permuted choice (2) on each shift

