%html
	%head
		%title Cipher Vis
		%script{:type => 'text/javascript',
					:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
		%script{:type => 'text/javascript'} if (typeof jQuery == 'undefined') { document.write(unescape("%3script src='jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E")); }
		%script{:type => 'text/javascript', :src => 'underscore.js'}
		%script{:type => 'text/javascript', :src => 'util.js'}
		%script{:type => 'text/javascript', :src => 'des.js'}
		%script{:type => 'text/javascript', :src => 'cipher-vis.js'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Nobile|Ubuntu|Droid+Sans+Mono|Amaranth:700,400'}
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'cipher-vis.css'}

	%body
		#box
			%h1 Cipher Vis
			%h2 DES visualization
			%form
				.row
					%label#key-label{:for => 'key'} Key
					%input#key{:type => 'text', :value => ''}
				.row
					%label#plaintext-label{:for => 'plaintext'} Plaintext
					%input#plaintext{:type => 'text', :value => ''}
				.row
					%span#error
					#encipher
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
						%span.darr.hidden &darr;
						%span.darr &darr;
				.row
					%span#ciphertext-label Ciphertext
					%span#ciphertext

		%ol#display

			%li#binary
				.spacer
				.step Convert plaintext to binary
				.code_line
					%span.one
				.code_line
					%span.two

			%li#ip
				.spacer
				.step Initial permutation
				.code_line
					%span.one
				.code_line
					%span.two

			%li#subkeys
				.spacer
				.step Generate subkeys

				%ol#subkey-list{:type => "i"}

					%li#pc1
						.spacer
						.step Permuted choice (1) on key
						.code_line
							%span.one
						.code_line
							%span.two

					%li#split-key
						.spacer
						.step Split permuted choice in half
						.code_line
							%span.one
							%span.two

					%li#shifts
						.spacer
						.step Shift and permute 16 times
						#shift1.shift_container
							.code_line
								%span.shift-arrow &crarr;
								%span.shift-label 1 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>1</sub>
								%span.three
						#shift2.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 1 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>2</sub>
								%span.three
						#shift3.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>3</sub>
								%span.three
						#shift4.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>4</sub>
								%span.three
						#shift5.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>5</sub>
								%span.three
						#shift6.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>6</sub>
								%span.three
						#shift7.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>7</sub>
								%span.three
						#shift8.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>8</sub>
								%span.three
						#shift9.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 1 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>9</sub>
								%span.three
						#shift10.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>10</sub>
								%span.three
						#shift11.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>11</sub>
								%span.three
						#shift12.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>12</sub>
								%span.three
						#shift13.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>13</sub>
								%span.three
						#shift14.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>14</sub>
								%span.three
						#shift15.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 2 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>15</sub>
								%span.three
						#shift16.shift_container
							.code_line
								%span.shift-line | |
								%span.shift-arrow &crarr;
								%span.shift-label 1 &rarr;
								%span.one
								%span.two
							.pc2_container
								%span.pc2_label &crarr;
								%span.ks_label k<sub>16</sub>
								%span.three

			%li#split
				.spacer
				.step Split initial permutation in half
				.code_line
					%span.one
					%span.two

			%li#rounds
				.spacer
				.step Perform 16 rounds
				.lformula L<sub>n</sub> = R<sub>n-1</sub>
				.rformula R<sub>n</sub> = L<sub>n-1</sub> + f(R<sub>n-1</sub>, K<sub>n</sub>)

				#round1.round_container
					.code_line
						%span.one
						%span.two
				#round2.round_container
					.code_line
						%span.one
						%span.two
				#round3.round_container
					.code_line
						%span.one
						%span.two
				#round4.round_container
					.code_line
						%span.one
						%span.two
				#round5.round_container
					.code_line
						%span.one
						%span.two
				#round6.round_container
					.code_line
						%span.one
						%span.two
				#round7.round_container
					.code_line
						%span.one
						%span.two
				#round8.round_container
					.code_line
						%span.one
						%span.two
				#round9.round_container
					.code_line
						%span.one
						%span.two
				#round10.round_container
					.code_line
						%span.one
						%span.two
				#round11.round_container
					.code_line
						%span.one
						%span.two
				#round12.round_container
					.code_line
						%span.one
						%span.two
				#round13.round_container
					.code_line
						%span.one
						%span.two
				#round14.round_container
					.code_line
						%span.one
						%span.two
				#round15.round_container
					.code_line
						%span.one
						%span.two
				#round16.round_container
					.code_line
						%span.one
						%span.two

			%li#reverse
				.spacer
				.step Swap halves of last round
				.code_line
					%span.one
					%span.two
				.code_line
					%span.three

			%li#ipinv
				.spacer
				.step Final permutation (ip<sup>-1</sup>)
				.code_line
					%span.one
				.code_line
					%span.two

			%li#hex
				.spacer
				.step Convert ciphertex back to hex
				.code_line
					%span.one
				.code_line
					%span.two






